.price {
    .swiper-slide {
        .card-price {

            margin: 0 auto;
        }
    }
    &__list {
        display: none;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
        max-width: 1074px;
        margin: 0 auto;
    }
}


@media (min-width: $screen-desktop) {
    .price {
        &__slider {
            display: none;
        }
        &__list {
            display: flex;
            justify-content: space-around;
        }
        &__item {
            &:nth-child(1) {
                order: 1;
                flex-basis: auto;
            }
            &:nth-child(2) {
                order: 2;
                flex-basis: auto;
            }
            &:nth-child(3) {
                order: 3;
                flex-basis: auto;
            }
        }
    }
    
}

.card-price {
    position: relative;
    padding-bottom:4px;
    border-radius: 20px;
    width: 321px;
    box-shadow: -11px 15px 29px rgba(114, 217, 192, 0.15);
    &--trial-visit {
        &::before {
            content: 'Пробное посещение';

            position: absolute;
            top: 44px;

            width: 211px;
            padding: 5px 0;

            text-align: center;
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            color: #1D6C71;

            background: #ECFFF3;
            border-width: 1px 1px 1px 0px;
            border-style: dashed;
            border-color: #8CCEA5;
            border-radius: 0px 8px 8px 0px;

        }
    }
    &--сrown {
        &::after {
            content: '';

            position: absolute;
            top: -37px;
            left: 210px;

            display: block;
            width: 70px;
            height: 70px;

            background-image: url('./images/png/crown.png');
            background-repeat: no-repeat;
        }
    }
    &__status {
        width: 195px;
        height: 40px;
        margin-bottom: 36px;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        border-radius: 20px 0px;
        span {
            margin-left: 4px;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
        }
        &--3 {
            width: 258px;
            height: 54px;
        }
    }
    &__price {
        margin-bottom: 16px;
        text-align: center;
        font-weight: 800;
        font-size: 40px;
        line-height: 47px;
        color: #303344;
        span {
            font-weight: 700;
            font-size: 20px;
            line-height: 23px;
        }
    }
    &__description {
        position: relative;
        width: 313px;
        margin: 0 auto;
        padding-bottom: 16px;
        padding-top: 30px;
        background: #FFFFFF;
        border-radius: 20px;
        &::before {
            content: "";
    
            position: absolute;
            top: 12px;
            left: 16px;
    
            display: block;
            width: 49px;
            height: 50px;
    
            background-image: url('./images/png/clock.png');
            background-repeat: no-repeat;
        }
    }
    &__working-hours {
        margin-left: 82px;
        margin-bottom: 22px;

    }
    &__weekdays {
        margin-right: 11px;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        
        /* 2-main black */
        
        color: #303344;
    }
    &__time {
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
    }
    &__or {
        margin-right: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        /* identical to box height, or 24px */

        text-align: center;

        /* 4-main text */

        color: #6D6D77;
    }

    &__title {
        margin-left: 12px;
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;

        /* 2-main black */

        color: #303344;
    }
    &__list {
        margin-left: 12px;
    }
    &__item {
        position: relative;
        padding-left: 14px;
        margin-bottom: 14px;
        &::before {
            content: "";
    
            position: absolute;
            top: 5px;
            left: 0px;
    
            display: block;
            width: 7px;
            height: 7px;

            border-radius: 50%;
        }
    }
}

